.App {
  text-align: left;
}

.title {
  text-align: center;
}


ul {
  list-style: none;
}

.menu li {
  display: inline;
  padding-left: 10px;
  
}

.pgMenu li {
  display: inline;
  padding-right: 10px;
  font-size: 20px;
}


/* css-transition 관련 css 시작 */

.page-enter {
  position: absolute;
  z-index: 1;
  transform: translateX(100%);
}

.page-enter-active {
  position: absolute;
  transform: translateX(0);
  transition: transform 1000ms;
}

.page-exit {
  position: absolute;
  z-index: 0;
  transform: translateX(0);
}

.page-exit-active {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 1000ms;
}


/* css-transition 관련 css 끝 */